#root {
  max-width: 1480px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body{
  background-color: #473A8D;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0; /* Optional: This removes default margin to avoid unwanted spacing */
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#homeH1{
  background-color: transparent;
  color: rgb(255, 255, 255);
  text-align: center;
  justify-content: center;
  align-items: center;
}


#play{
  display: flex;
  color: white;
  border-radius: 2rem;
  font-size: 16px;
  padding: 10px 70px;
  background-color: green;
  text-align: center;
}

.homecomp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
  margin-bottom: 25%;
} 

.question {
  padding: 2%;
  background-color: white;
  margin: 10% auto;
  width: 900px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative; 
}

.que {
  text-align: center;
  color: #000;
  font-weight: 500;
  background-color: white;
  position: absolute;
  margin: 0;
  top: 4px;
  left: 50%; 
  transform: translateX(-50%); 
}

h5 {
  text-align: left; 
  background-color: white;
  margin: 5px;
  position: absolute;
  top: 95px;
  left: 10px;
}

h3 {
  text-align: center;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%); 
}

.options {
  margin-top: 2%;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 15px;
  justify-content: center;
  position: absolute;
  top: 210px; 
  left: 50%;
  transform: translateX(-50%); 
}

.opt-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 400px;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
  background-color: #1EA1F1;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.sub {
  background-color: white;
  display: flex;
  margin-top: 5%;
  justify-content: center;
  position: absolute;
  top: 350px; 
  left: 50%; 
  transform: translateX(-50%);
}

.submit-1 {
  background-color: #3E7EAA;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px; 
}

.submit-2{
  background-color: #008001;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px; 
}

.submit-3{
  background-color: #FF0000;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin: 0 10px; 
}

h2{
  color: green;
  text-align: center;
}

.box{
  padding: 1%;
  margin-left: 25%;
  margin-right: 25%;
  background-color: white;
}

h3{
  color: black;
  text-align: center;
}

h1{
  background-color: white;
  color: blue;
  text-align: center;
}

table{
  background-color: white;
}

td{
  background-color: white;
}

.output{
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.output-button-1{
  color: #B0B0E1;
  background-color: white;
  margin-right: 1%;
}
.output-button-2{
  color: #198B19;
  background-color: white;
  margin-left: 1%;
}

.result{
  width: 1200px;
  height: 600px;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}